{% extends 'base.html' %}

{% load static  %}

{% block titulo %}
    Página de Inicio de Alumnos
{% endblock titulo %} 


{% block contenido %}
    {% include 'includes/nav.html' %}

    <div class="container">
      <img src="{% static 'img/photo1.png' %}" alt="img1" width="450px" class="img-fluid mx-auto d-block">
    </div>
      
      <div class="introduccion mt-3">
          <div class="container">
              <h1 class="text-center mb-4">Sistema de administración y gestión Alumos</h1>
              <div class="row">
                  <div class="col-8">
                    <p class="text-center">Este sistema es desarrollado con el FrameWork de Django y Boostrap y sirve como sistema de administración y gestión de alumnos, clientes, proveedores, inventario, etc.
                    </p>
                  </div>
                  <div class="col">
                    <a class="btn btn-success" href="{% url 'alumno_app:registrar_alumno' %}" role="button">Empezar..</a>
                  </div>
              </div>
              <div class="row mt-4">
                  <h3 class="text-center">Introducción</h3>
                  <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor quidem atque voluptatem expedita odio laudantium sapiente explicabo. In perferendis ipsa omnis consectetur ipsum facere voluptatum maxime eligendi architecto ipsam. Consequatur.</p>
              </div>
          </div>
      </div>
{% endblock contenido %}
    
    